.card{
    width: 19rem;
    align-items: center;
    background: #f0f3f4;
    margin-bottom: 20px;
}
.card-title{
    margin-top: 20px;
    font-size: 18px;
}
audio{
    outline: none;
}
.card_img{
    height: 190px;
}